<!DOCTYPE html>
<html ng-app="admin">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="bower/angular/angular-csp.css">
    <link rel="stylesheet" href="admin.css">
    <title>Administration</title>
  </head>
  <body ng-cloak ng-controller="AdminController">
    <p>This is an extremely simple and dumb admin page without any authentication. Very very alpha ver</p>
    <button ng-click="load()">Load</button>
    <button ng-click="save()">Save</button>
    <table ng-if="db">
      <tr ng-repeat="slide in db.slides">
        <td>{{slide.url}}</td>
        <td>
          <input type="range" min="1" max="60" ng-model="slide.interval"/>
          <output>{{slide.interval}}s</output>
        </td>
        <td>
          <input type="date" />
          <input type="time" />
          <input type="date" />
          <input type="time" />
        </td>
        <td><button>Remove</button></td>
      </tr>
    </table>
    <script src="bower/angular/angular.min.js"></script>
    <script src="admin.js"></script>
  </body>
</html>
