body {
  background-color: black;
  color: white;
}

.slide {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-position: center center;
  will-change: opacity;
  transition: opacity 500ms;
  background-repeat: no-repeat;
}

.slide.ng-hide {
  opacity:0;
}

.slide.ng-hide.ng-hide-active {
  opacity:1;
}
